// ellipsis
@mixin ellipsis($row:1, $overflow: ellipsis) {
  max-width: 100%;
  text-overflow: $overflow;
  overflow: hidden;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-line-clamp: $row;
  -webkit-box-orient: vertical;
}
