@charset "utf-8";

// 定义switch的基础构造
@mixin input-switch($circleBtnColor: $bg-white, $offTrackColor: $bg-white, $onTrackColor: $bg-red) {
    display: inline-block;
    & > input {
        display: none;
        &:checked + .track {
            background-color: $onTrackColor;
        }
    }
    & > .track {
        display: inline-block;
        position: relative;
        width: 1.04rem;
        height: .62rem;
        padding: .01rem;
        border-radius: .3rem;
        background-color: #ccc;
        vertical-align: middle;
        .handle {
            position: absolute;
            z-index: 1000;
            top: 1px;
            left: 1px;
            width: 0.6rem;
            height: 0.58rem;
            border-radius: .3rem;
            background-color: $circleBtnColor;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
            -webkit-transition: -webkit-transform 0.1s ease-out;
            transition: transform 0.1s ease-out;
        }
        &:after {
            position: absolute;
            right: .02rem;
            top: .02rem;
            content: "\0020";
            width: .7rem;
            height: .58rem;
            background-color: $offTrackColor;
            border-radius: 0 .3rem .3rem 0;
            transition: transform 0.13s ease-out;
        }
    }
}

.input-switch > input:checked + .track > .handle {
    transform: translate3d(0.4rem, 0, 0);
}

.input-switch > input:checked + .track::after {
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
}
