@import "../../scss/mixin.scss";
@import "../../scss/variable.scss";

.cube-action-sheet-panel {
  text-align: center;
  font-size: $fontsize-medium;
  background-color: $action-sheet-bgc;
}
.cube-action-sheet-cancel {
  background-color: $action-sheet-bgc;
}
.cube-action-sheet-cancel span, .cube-action-sheet-title, .cube-action-sheet-item {
  display: block;
  padding: 17px 16px;
  margin: 0;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  font-size: $fontsize-large;
  font-weight: normal;
  line-height: 1;
  color: $action-sheet-color;
  background-color: $action-sheet-bgc;
}
.cube-action-sheet-cancel span, .cube-action-sheet-item {
  &:active {
    background-color: $action-sheet-active-bgc;
  }
}
.cube-action-sheet-title {
  padding-top: 16px;
  padding-bottom: 16px;
  color: $action-sheet-title-color;
  font-size: $fontsize-large-x;
}
.cube-action-sheet-content {
  overflow: hidden;
  background: $action-sheet-bgc;
}
.cube-action-sheet-list {
  list-style: none;
}
.cube-action-sheet-item {
  list-style: none;
  user-select: none;
  &:last-of-type {
    @include border-none();
  }
  &[data-align="left"] {
    text-align: left;
  }
  &[data-align="right"] {
    text-align: right;
  }
}
.cube-action-sheet-space {
  height: 6px;
  background-color: $action-sheet-space-bgc;
}
.cube-action-sheet-item_active {
  color: $action-sheet-active-color;
}
.cube-action-sheet_picker {
  .cube-action-sheet-space {
    height: 0;
  }
  .cube-action-sheet-title {
    height: 1em;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .cube-action-sheet-cancel {
    position: absolute;
    top: 0;
    background-color: transparent;
    span {
      padding-top: 23px;
      padding-bottom: 23px;
      color: $action-sheet-picker-cancel-color;
      font-size: $fontsize-medium;
      background-color: transparent;
      &:active {
        color: $action-sheet-picker-cancel-active-color;
        background-color: transparent;
      }
    }
  }
}

// animate
.cube-action-sheet-fade-enter {
  opacity: 0.01;
}
.cube-action-sheet-fade-enter-active {
  opacity: 1;
  transition: all .3s ease-in-out;
}
.cube-action-sheet-fade-exit {
  opacity: 1;
}
.cube-action-sheet-fade-exit-active {
  opacity: 0.01;
  transition: all .3s ease-in-out;
}

.cube-action-sheet-move-enter {
  transform: translate3d(0, 100%, 0);
}
.cube-action-sheet-move-enter-active {
  transform: translate3d(0, 0, 0);
  transition: all .3s ease-in-out;
}
.cube-action-sheet-move-exit-active {
  transform: translate3d(0, 100%, 0);
  transition: all .3s ease-in-out;
}
