.loading-state {
  position: relative;
  text-indent: -1000px;
  overflow: hidden;
  animation: rotates .5s infinite linear;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: .76rem;
    height: .76rem;
    background: url("../assets/images/loading.png") no-repeat center center;
    background-size: 100% 100%;
  }
}

@keyframes rotates {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
