@import "./variables";
@import "./iconfont";
@import "./border";

.btn {
  text-align: center;
  height: 1rem;
  line-height: 1rem;
  font-size: 18px;
  display: block;
  &:active {
    background-image: linear-gradient(-90deg, #463BAF 25%, #5233B8 73%);
  }
}

.btn-radius {
  border-radius: 0.08rem;
}

.btn-round {
  border-radius: .5rem;
}

.btn-shadow {
  background-image: $button-bg;
  box-shadow: $button-shadow;
}

.btn-bottom-fixed {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.btn-default {
  background: $button-bg;
  color: #fff;
}

.btn-white {
  background: $bg-white;
  color: $text-link;
  border: 1px solid $bg-light-gray;

  &:active {
    background: #FDFDFD;
  }
  &:before {
    transform: rotateZ(90deg);
  }
}

.btn-disabled {
  color: #fff;
  background: $button-disable-single-bg;
  &:active {
    background: rgba(204, 204, 204, 0.99);
  }
}

.btn-ignore {
  background: #fff;
  color: #666;
  border: 1px solid #EEEEEE;
}

.btn-loading {
  &:before {
    content: "\e62a";
    display: inline-block;
    margin-right: .1rem;
    @include iconfont();
    font-size: $font-size-16;
    animation: btn-rotates 1s linear 0s infinite;
  }
}

.loan-btn {
  display: block;
  margin: 0 auto;
  width: 4.8rem;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  color: $text-white;
  font-size: $font-size-18;
  text-decoration: none;
  background-image: $button-bg;
  box-shadow: $button-shadow;
  border-radius: .8rem;
}

@keyframes btn-rotates {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
