/**
 * reset css
 * 参考 normalize.css github.com/necolas/normalize.css
 *
 */
@import "./variables";

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: $font-family-sans-serif;
  -webkit-font-smoothing: antialiased; //抗锯齿
  background-color: $bg-white;
}

body {
  font-size: $font-size-base;
  user-select: none; //禁止选中文本
  line-height: 1;
  background-color: $bg-white;
  color: #333;
}

html,
body,
#layout,
#root {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:after {
    box-sizing: border-box;
  }
  &:before {
    box-sizing: border-box;
  }
}

// 防止点击出现透明遮罩
input,
textarea,
button,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  input:disabled {
    -webkit-text-fill-color: rgba(0, 0, 0, 1);
    -webkit-opacity: 1;
  }
}

a {
  color: $text-link;
  text-decoration: none;
  &:hover {
    outline: 0;
  }
  &:active {
    outline: 0;
  }
}

img {
  border: none;
}

// Forms
// ==========================================================================
// 1. Correct color not being inherited.
//    Known issue: affects color of disabled elements.
// 2. Correct font properties not being inherited.
// 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
//
button,
input,
optgroup,
select,
textarea {
  font-size: $font-size-base;
  color: inherit; // 1
  font: inherit; // 2
  margin: 0; // 3
  outline: none;
  border: none;
  background: none; //transparent
}

// Tables
// ==========================================================================
// Remove most spacing between table cells.
table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  list-style: none;
}
