/**
 * Typography
 *
 */

@import "./variables";
@import "./mixins/ellipsis";

.h1,
.h2,
.h3,
.h4,
.h5,
h1,
h2,
h3,
h4,
h5 {
  color: $text-main;
  font-weight: normal;
}

.f18,
.h1,
h1 {
  font-size: $font-size-18;
}

.f16,
.h2,
h2 {
  font-size: $font-size-16;
}

.f15,
.h3,
h3 {
  font-size: $font-size-15;
}

.f14,
.h4,
h4 {
  font-size: $font-size-14;
}

.f12,
.h5,
h5 {
  font-size: $font-size-12;
}
.f10{
  font-size: $font-size-12;
  transform: scale(0.83);
  transform-origin: left center;
}

p {
  font-size: $font-size-base;
}

input::-webkit-input-placeholder{
  color: $bg-light-gray;
}

.small,
small {
  font-size: $font-size-12;
}

.strong,
strong {
  font-weight: 600;
}

.italics,
b {
  font-style: italic;
}

.sub,
sub {
  font-size: $font-size-12;
  color: $text-thirdly;
  vertical-align: baseline;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

// Alignment
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

// Emphasis text

.text-default {
  color: $text-main;
}

.text-warning {
  color: $text-light-red;
}

.text-fail {
  color: $text-red;
}

.text-success {
  color: $text-green;
}

.text-error,
.text-important {
  color: $text-light-red;
}

.text-tip {
  color: $text-thirdly;
}

.text-white {
  color: $text-white;
}

.text-666 {
  color: $text-secondary;
}

.text-link {
  color: $text-link;
}

.bg-white {
  background: $bg-white;
}

.bg-gray {
  background: $bg-grey;
}

.ellipsis {
  @include ellipsis();
}

.clip{
  @include ellipsis($overflow:clip);
}

.ellipsis2 {
  @include ellipsis(2);
}

// Transformation

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

// 高斯模糊（毛玻璃）
.gaussian-blur {
  filter: blur(10px);
}
