// 字体
$font-family-sans-serif:  "Helvetica Neue", "PingFangSC-Regular", Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base: $font-family-sans-serif;
$font-size-base: 14px;
$font-size-large: ceil(($font-size-base * 1.25)); // ~18px
$font-size-small: ceil(($font-size-base * 0.85)); // ~12px
$font-size-21: ceil(($font-size-base * 1.5)); // ~21px
$font-size-18: ceil(($font-size-base * 1.25)); // ~18px
$font-size-17: ceil(($font-size-base * 1.2)); // ~17px
$font-size-16: ceil(($font-size-base * 1.1)); // ~16px
$font-size-15: ceil(($font-size-base * 1.07)); // ~15px
$font-size-14: $font-size-base;
$font-size-12: ceil(($font-size-base * 0.85)); // ~12px
// 字体颜色
$text-main: #333333; //
$text-secondary: #666666;
$text-thirdly: #999999;
$text-input-tip: #BBB;
$text-ccc: #ccc; //
$text-white: #fff;
$text-link: #4D41BB;
$text-light-red: #ff801a;
$text-red: #FF494D;
$text-number: #493DF1;
$text-blue: #6456D6;
$text-green: #1EC864;
$text-orange: #FF922D;
$text-purple: #6557D6;
// 背景色
$bg-white: #fff;
$bg-grey: #f5f5f5;
$bg-light-gray: #eee;
$bg-gray: #ddd;
$bg-light-yellow: #fffbde;
$bg-red: #f15353;
$bg-deep-red: #a83a3a;
$bg-666: #666;

//风格主色
$style-main: #4D41BB;
$style-main-gradient: #5B3DC0;
$style-main-shadow: #364CE6;

$button-bg: linear-gradient(90deg, $style-main 25%, $style-main-gradient 73%);
$button-shadow: 0 15px 20px 0 fade(#364CE6, 30%);

$button-disable-bg: linear-gradient(-90deg, #8B8B8B 25%, #969696 72%);
$button-disable-shadow: 0 .2rem .2rem 0 rgba(160, 160, 160, 0.30);
$button-disable-single-bg: #ccc;

//媒体查询
$tiny-screens: "only screen and (min-device-width : 320px) and (max-device-width : 480px)";

//border
$border-base-style: 1px solid #eee;

//gap
$gap-lr: .3rem;
$gap-tb: .2rem;
