.cube-page-layout {

  .header {
    position: relative;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background-color: #edf0f4;
    box-shadow: 0 1px 6px #ccc;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 5;

    > h1 {
      font-size: 16px;
      font-weight: 700;
    }
  }

  .cube-content {
    margin: 10px;
  }

  .cube-main {
    .cube-item {
      margin: 10px 0;
    }
  }
}
